sub_multiple_whatsapp_agent_test_setup_parameters.json
{
  "name": "sub_multiple_whatsapp_agent_test_setup_parameters",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "reciever_phone",
              "type": "number"
            },
            {
              "name": "output"
            },
            {
              "name": "mode"
            },
            {
              "name": "sender_phone",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -400,
        -160
      ],
      "id": "f44d5477-53af-4730-8577-066172c58495",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=output={{ $json.output }} mode={{ $json.mode }}\nmessage_is_coming_from={{ $json.reciever_phone }}\nmessage_should_go_from={{ $json.sender_phone }}",
        "options": {
          "systemMessage": "process the message and take actions as per it \nif the message is given via email send it to email\nif the message is given thorugh Whatsapp reply from there\nif the message is from webhook then use post method and send it there\nusing the tools\n\nonly send the output"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -112,
        -192
      ],
      "id": "1bd5b4a8-d9fd-4a68-851a-d1db8833d6fd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "="
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -48,
        112
      ],
      "id": "8aa543d6-17a9-4b9c-b6d7-2b760c5054b0",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $json.sender_phone }}",
        "recipientPhoneNumber": "={{ $json.reciever_phone }}",
        "textBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text_Body', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsAppTool",
      "typeVersion": 1,
      "position": [
        256,
        128
      ],
      "id": "7acb5d75-41a7-432e-a4a3-9a0b1f301a98",
      "name": "Send message in WhatsApp Business Cloud",
      "webhookId": "f2569af4-bdc9-4dc8-969a-071c83ac5fde",
      "credentials": {
        "whatsAppApi": {
          "id": "j6yZMk1sYHQn69Ce",
          "name": "WhatsApp account 5"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -256,
        16
      ],
      "id": "72b41ba0-3335-4b00-bfd5-335f798b3458",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "7vL7vpg59l3IqdiM",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "reciever_phone": 918421038476,
          "output": "Hello! How can I assist you today?",
          "mode": "whatsapp",
          "sender_phone": 15551731600
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Send message in WhatsApp Business Cloud": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6c8f7f8c-45d4-4053-95ad-6e3986600a55",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "17b089a02dd3dc6c436f920004f93fdf333f29c1752617853d332e49f95e96eb"
  },
  "id": "nIu7yQOnpvMHnPIA",
  "tags": []
}